html{
  box-sizing: border-box;
}

*,
*::before,
**::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* ====== ОБЩИЕ НАСТРОЙКИ ====== */
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
  background-color: tomato;
}
:root{
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --hero-bg: #2F303A;
  --main-bg: #E5E5E5;
  --team-bg: #F5F4FA;
  --header-bg: #ffffff;
  --address-color: #rgba(255, 255, 255, 0.6);
}

body{
  font-family: 'Roboto', sans-serif;   
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--header-bg);
  color: var(--text-color);
}

/* ====== HEADER ====== */

header{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link,
.nav:visited{
  color: var(--title-color);
}

.link:hover,
.link:focus,
.current,
.contacts:hover,
.contacts:focus{
  color: var(--accent-color)
}

.contacts{

  color:var(--text-color);
}

/* ====== HERO ====== */

.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero{
  background-color: var(--hero-bg);
}

.hero-btn{
  font-family: 'Roboto', sans-serif;  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero-btn:hover,
.hero-btn:focus{
  color: var(--title-color);
}

/* ====== НАША КОМАНДА ====== */

.team{
  background-color: var(--team-bg);
}

.team-container:not(:last-child){
  margin-right: 30px;
}

.title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.title-text{
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.heading{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-color);
}

.team{
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.03em;
}
.name{
  font-weight: 500;
  color: var(--title-color);
  }
.profession{
  color: var(--text-color);
}

/* ====== FOOTER ====== */

.footer{
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
  background-color: var(--hero-bg);
}

.address.map{
  color: var(--white-color);
}