:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --bg-color: #e5e5e5;
  --footer-bg: #2F303A;
}

/* основной текст #757575 */
/* вторичный текст #212121 */
/* WEB #2196F3 */
/* цвет hero background: rgba(47, 48, 58, 0.4);
+ footer #2F303A;
+ наша команда #F5F4FA; */
/* цвет особенности + чем занимаемся #E5E5E5 */
/* цвет наша команда #F5F4FA */

body{
  background-color: var(--primary-white-color);
  color: var(primary-text-color);
  font-family: Roboto, sant-serif;
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*шапка сайта с навигацией*/
header{
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

/*для сброса настроек списка без маркера */

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Контейнер для шапки сайта*/
.container{
  border: 1px solid red;
  min-width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 15px;
  padding-right: 15px;

}

a {
  text-decoration: none;
}

a:hover img,
a:focus img,
.link:hover,
.link:focus,
.auth-btn a:hover,
.auth-btn:focus,
{
  color: var(--accent-color);
}

/*logo*/
.logo{
  width: 145px;
  height: 31px;
}

/* Навигация в шапке */
.site-nav a ,
.link{
  color: var(--title-text-color);
}

.link.current{
  color: var(--accent-color);
}

.link:active,
.auth-btn a:active{
  color: var(--accent-color);
  border-bottom: none;
}

/*Buttons*/
.auth-btn a {
  color: var(--primary-text-color);
}

.hero{
  text-align: center;
}

/* Герой */
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Заказать услугу*/
a.button{
  display: inline-block;
  background-color: var(--accent-color);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: var(--accent-color);
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; 
  padding: 10px 32px;
  margin-bottom: 294px;
}

.button:hover,
.button:focus,
.button:active{
  color: var(--primary-white-color);
  border: transparent;
}

/*преимущества*/
.features>li img{
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 25px 102px;
  border: 1px solid var(--title-text-color);
} 

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/*описание преимуществ*/
.description {
  margin-top: 0;
  margin-bottom: 94px;
  line-height: 1.7;
  color: var(--primary-text-color);
}


/*Чем мы занимаемся*/
.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/*Десктопные приложения*/
.work-example,
.work-example
 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color); /*изменить на #fff*/
}


/*team name*/
.name {
  font-size: 16px;
  line-height: 1,18;
  text-align: center;
}

/*team profession*/
.profession {
  color: var(--primary-text-color);
  
}


.team {
  background-color: var(--team-bg-color);
  font-size: 16px;
  line-height: 1,18;
  text-align: center;
}

.social-media img:hover,
.social-media img:focus {
  background-color:  var(--accent-color);
  border: 3px solid var(--accent-color);
  border-radius: 100px;
}

.clients img:hover,
.clients img:focus{
  border: 3px solid var(--accent-color);
}

.address.link{
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color)
}
footer{
  background-color: var(--footer-bg);
}
.contacts.link{
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color)
}
