/* === ОБЩИЕ НАСТРОЙКИ ===*/
*,
*::before,
**::after,
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
}

ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;

}

.no-padding{
  padding-top: 0;
  padding-bottom: 0;
}

.list, 
.item{
  margin: 0px;
  margin-bottom: 0px;
}
:root{
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --hero-bg: #2F303A;
  --main-bg: #E5E5E5;
  --team-bg: #F5F4FA;
  --header-bg: #ffffff;
  --address-color: #rgba(255, 255, 255, 0.6);
}

body{
  color: var(--text-color);
  background-color: var(--header-bg);

  font-family: Roboto;
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* === HEADER ===*/

/*=== строка с навигацией Студия Портфолио Контакты ====*/
/*=== контакты ===*/
.main.container{
  display: flex;
  align-items:center;
}

.nav-list{
  margin-left: 93px;  
  display: flex;

}

.contacts-list{
  display: flex;
  margin-left: auto;
}

.nav-list .item + .item,
.contacts-list .item +.item{
  margin-left: 50px;
  outline: 2px solid tomato;
}

.link,
.nav:visited{
  display: block;
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus,
.current,
.contacts:hover,
.contacts:focus{
  color: var(--accent-color)
}

.contacts{
  color:var(--text-color);
}

header{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* === HERO ===*/
.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero{
  background-color: var(--hero-bg);
  text-align: center;
  padding: 200px 452px;
}

.hero-btn{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus{
  color: var(--title-color);
}

/*=== ОСОБЕННОСТИ ===*/
li .item{
  display: inline-block;
  width: 270px;

}
.features-list {
  display: flex;
}

.title-text:not(:last-child){
  margin: 0 30px 0 0;
}
/* ===OUR TEAM===*/
.team{
  background-color: var(--team-bg);
}

.title{
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.title-text{
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0px 0px;
}

.features.container{
  padding-top: 94px;
  padding-bottom: 94px;
}

/* === ЧЕМ МЫ ЗАНИМАЕМСЯ ===*/
.work-list{
  display: flex;
}

.heading{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--title-color);

  margin-bottom: 50px;
  margin-top: 0;
}

/* === works ===*/
.work-list .item+.item{
  display: inline-block;
  justify-content: space-between;
  outline: 2px solid tomato;
  margin-left: 30px;
}

.container.work{
  padding-bottom: 94px;
}


/*=== OUR TEAM ===*/
.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
.team{
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.03em;

}
.name{
  font-weight: 500;
  color: var(--title-color);
  }
.profession{
  color: var(--text-color);
}

.footer{
  text-transform: none;
  font-style: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
  background-color: var(--hero-bg);
}
.footer .container{
  padding-top: 60px;
  padding-bottom: 60px;
}


.address.map{
  color: var(--white-color);
}